.exercise{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 80px;
}

#ex1Para{
    font-size: 30px;
}

#ex2Div{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: red;
}

#ex3Div{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    background-color: darkred;
    border-radius: 20px;
}